@import '../_colors.scss';

.thanks-wrap {
    width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.thanks-body {
    width: 1050px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;
    margin-top: 20px;
    margin-bottom: 20px;
    // border: solid;

    h1 {
        font-weight: normal;
        padding-bottom: 5px;
        color: $dark-purple;
    }
    h2 {
        text-align: center;
        line-height: 35px;
        font-weight: normal;
        color: $dark-purple;
    }
    button {
        background: $purple;
        color: white;
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 5px;
        font-size: 10pt;
        font-family: $font;
        cursor: pointer;
        outline: none;

        &:hover {
            color: $dark-purple;
            transition: 0.3s ease-in-out;
        }
        &:active {
            background: $dark-purple;
        }
    }
}

@media only screen and (max-width: 1100px){
    .thanks-body {
        width: 90vw;
    }
}

@media only screen and (max-width: 620px){
    .thanks-body {
        h1 {
            font-size: 5vw;
        }
        h2 {
            font-size: 3.8vw;
        }
    }
}