@import '../_colors.scss';

.footer-wrap {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark-purple;
    color: white;
    font-family: Baskerville;
    font-size: 16pt;
}

.social {
    width: 100vw;
    height: 200px;
    background: $light-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p {
        color: $dark-purple;
        font-family: Baskerville;
    }
}

.social-media {
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    // border: solid;

    a {
        width: 50px;
        height: 50px;
    }

    img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 832px){
    .footer-wrap {
        height: 210px;
    }
    .footer {
        height: 60px;
        // font-size: 2.5vw;
    }
    .social {
        height: 150px;
    }
    .social-media {
        width: 50vw;
        a {
            width: 40px;
            height: 40px;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .footer {
        font-size: 3.5vw;
    }

    .social {
        p {
            font-size: 11pt;
            margin-bottom: 30px;
        }
    }

    .social-media {
        width: 55vw;
        a {
            width: 30px;
            height: 30px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}

@media only screen and (max-width: 400px) {
    // .footer {
    //     font-size: 11pt;
    // }

    .social {
        p {
            font-size: 10pt;
        }
    }
}

// @media only screen and (max-width: 360px) {
//     .footer {
//         font-size: 10pt;
//     }
// }

// @media only screen and (max-width: 330px) {
//     .footer {
//         font-size: 9pt;
//     }
// }