@import '../_colors.scss';

.checkout-wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.checkout-body {
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: $font;
    color: $dark-purple;

    h1 {
        font-weight: normal;
        padding-bottom: 5px;
        color: $dark-purple;
    }
}

.checkout-user-info-off {
    display: none;
}

.checkout-user-info-on {
    width: 600px;
    display: flex;
    font-size: 14pt;
    border-bottom: solid 1px $dark-purple;
    border-top: solid 3px $dark-purple;
    div {
        width: 300px;
    }
    p {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
.checkout-user-left{
    margin-top: 20px;
    margin-bottom: 20px;
    p {
        margin-left: 12px;
    }
}
.checkout-user-right {
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-form-off {
    display: none;
}

.checkout-form-on{
    width: 600px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 40px);
    margin-bottom: 20px;

    input {
        padding-left: 10px;
        border: solid 1px $dark-purple;
        border-radius: 5px;
        font-size: 12pt;
        font-family: $font;
        outline: none;
    }

    input:focus {
        border: solid 2px $purple;
    }
}

.checkout-first {
    grid-column: span 3;
}
.checkout-last {
    grid-column: span 3;
}
.checkout-company {
    grid-column: span 6;
}
.checkout-address {
    grid-column: span 6;
}
.checkout-city {
    grid-column: span 6;
}
.checkout-state {
    grid-column: span 2;
}
.checkout-zip {
    grid-column: span 2;
}
.checkout-phone {
    grid-column: span 2;
}
.checkout-email {
    grid-column: span 6;
}
.checkout-reTypeEmail {
    grid-column: span 6;
}

.payment-method {
    width: 575px;
    display: flex;
    align-items: center;

    p {
        margin-right: 20px;
        font-size: 14pt;
    }

    input {
        margin-right: 8px;
        color: $dark-purple;
    }

    label {
        margin-right: 20px;
    }
}

.shipping-method{
    width: 575px;
    display: flex;
    align-items: center;

    p {
        margin-right: 20px;
        font-size: 14pt;
    }

    input {
        margin-right: 8px;
        color: $dark-purple;
    }

    label {
        margin-right: 20px;
    }
}

.route-widget-wrap {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.total-price {
    width: 600px;
    // height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border-top: solid 1px $dark-purple;
    border-bottom: solid 3px $dark-purple;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtotal-shipping-tax {
    width: 600px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    // border: solid 1px;
}

.subtotal {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;

    h3 {
        font-weight: normal;
        margin-right: 28px;
    }

    p {
        font-size: 14pt;
    }
}

.shipping {
    width: 600px;
    display: flex;
    justify-content: flex-end;

    h3 {
        font-weight: normal;
        margin-right: 28px;
    }

    p {
        font-size: 14pt;
    }
}

.tax {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;

    h3 {
        font-weight: normal;
        margin-right: 28px;
    }

    p {
        font-size: 14pt;
    }
}

.price-divider {
    width: 200px;
    border-bottom: solid 1px $dark-purple;

    h3 {
        font-weight: normal;
        margin-right: 28px;
    }

    p {
        font-size: 14pt;
    }
}

.total {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    // margin-top: -10px;

    h2 {
        font-weight: normal;
        margin-right: 20px;
    }

    p {
        font-size: 16pt;
    }
}

.checkout-button {
    width: 600px;
    display: flex;
    justify-content: flex-end;

    button {
        background: $purple;
        color: white;
        width: 140px;
        height: 40px;
        border: none;
        border-radius: 5px;
        font-size: 10pt;
        font-family: $font;
        cursor: pointer;
        outline: none;

        &:hover {
            color: $dark-purple;
            transition: 0.3s ease-in-out;
        }
        &:active {
            background: $dark-purple;
        }
    }
}

@media only screen and (max-width: 1100px){
    .checkout-body {
        width: 90vw;
    }
}

@media only screen and (max-width: 670px){
    .checkout-body {
        h1 {
            font-size: 20pt;
        }
    }

    .checkout-user-info-on {
        width: 90vw;
        display: flex;
        font-size: 14pt;
        div {
            width: 45vw;
        }
    }
    .checkout-user-left {
        p {
            margin-left: 0px;
        }
    }

    .checkout-form-on {
        width: 90vw;
        grid-template-rows: repeat(10, 40px);
        input {
            grid-column: span 6;
        }
    }
    .payment-method {
        width: 90vw;
    }
    .shipping-method {
        width: 90vw;
    }
    .total-price {
        width: 90vw;
    }
    .checkout-button {
        width: 90vw;
    }
}

@media only screen and (max-width: 500px){
    .checkout-user-info-on {
        flex-direction: column;
        font-size: 14pt;
        div {
            width: 90vw;
            // border: solid;
        }
    }
    .checkout-user-left{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .checkout-user-right {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .payment-method {
        flex-direction: column;
        margin-bottom: 10px;
        p {
            margin-bottom: 5px;
        }
    }
    .shipping-method {
        flex-direction: column;
        p {
            margin-bottom: 5px;
        }
    }
    .checkout-button {
        button {
            width: 90vw;
            height: 50px;
        }
    }
}