@import '../_colors.scss';

.home-wrap {
    width: 100vw;
    // height: 1790px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.body {
    width: 100vw;
    // height: 1710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    // border: solid red 2px;
}

.hero-link {
    text-decoration: none;
}

.hero {
    width: 1050px;
    height: 510px;
    background-image: url('../../images/BoxOfChocolates.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
    margin-bottom: 20px;

    p {
        // border: solid red;
        margin-right: 30px;
        margin-bottom: 25px;
        color: white;
        font-family: Baskerville;
        font-size: 16pt;
        font-weight: normal;
        border-bottom: solid 1px white;
        &:hover {
            color: $purple;
            border-bottom: solid 1px $purple;
        }
    }
}

.body-content {
    width: 1050px;
    // height: 420px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    // border: solid;

    img {
        width: 336px;
        height: auto;
    }

    img:hover {
        width: 330px;
        border: solid 3px $purple;
    }
}

@media only screen and (max-width: 1100px){

    .hero {
        width: 95vw;
    }

    .body-content {
        width: 95vw;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        img {
            width: 30vw;
        }
    }

}

@media only screen and (max-width: 832px){
    .body {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .hero {
        height: 300px;

        a {
            font-size: 14pt;
        }
    }

    .body-content {
        grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));

        img {
            width: 46vw;
        }
    }

    .caramels {
        display: none;
    }
}

@media only screen and (max-width: 548px) {
    .body {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero {
        height: 230px;
        p {
            font-size: 12pt;
            margin-bottom: 18px;
            margin-right: 20px;
        }
    }
    .body-content {
        grid-template-columns: repeat(auto-fit, minmax(161px, 1fr));

        img {
            width: 45vw;
        }
    }
}

@media only screen and (max-width: 400px){
    .hero {
        height: 200px;

        a {
            font-size: 12pt;
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 360px) {
    .body {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .body-content {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        img {
            width: 45vw;
        }
    }
}